includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    
    # Bootstrap Laravel for proper reflection
    bootstrapFiles:
        - phpstan-bootstrap.php
    
    # Exclude paths
    excludePaths:
        - database/migrations/*
    
    
